/*
 * Subway - frontend
 */

pre.subway {
    color: #880000;
    font-size: 11px;
    line-height: 1.4em;
}

ol.subway {
    list-style-type: lower-alpha;
    padding-left: 0px;

}

ol.subway li {
    padding-bottom: 10px;
}

/* calendar */
.subway_single_month {
    display: block;
    margin: 0 auto;
    max-width: 31% !important;
}

/**  ArrayStep **/
span.arrayStepSmallRect {
    display: block;
    float: left;
    width: 24px;
    height: 16px;
    background-color: #990000;
}

p.arrayStepTitle {
    color: #880000;
    width: 100%;
    height: 14px;
    margin-top: 30px;
}